@import url("https://fonts.googleapis.com/css?family=Orbitron");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e1443d;
}

.box {
  background: #ccc;
  width: 400px;
  height: 175px;
  margin: 100px auto;
  position: relative;
  padding: 30px;
}

.badge {
  padding: 5px;
  font-family: sans-serif;
  color: #e1443d;
  background: white;
  text-align: center;
  width: 33%;
  position: absolute;
  left: 33%;
  top: -15px;
  font-weight: bold;
}

.clock {
  font-family: Orbitron;
  background: #ebebeb;
  text-align: center;
  font-size: 55px;
  height: 100%;
  padding-top: 33px;
  border-radius: 4px;
}
